@{
    ViewData["Title"] = "Home Page";
}
@using app.common.DTO
@model IEnumerable<FacultyDTO>

<div class="wrapper">
    <div class="innerWrapper">
        <div class="header">
            <div class="headerWrapper">
                <div class="headerInnerWrapper">

                </div>
            </div>
        </div>
        <div class="content">
            <div class="contentWapper">
                <div class="contentInnerWapper">
                    <div class="table">
                        <div class="tableWrapper">
                            <div class="tableInnerWrapper">
                                <div class="tH">
                                    <div class="tHWrapper">
                                        <div class="tHInnerWrapper">
                                            <div class="thi">
                                                <div class="thiWrapper">
                                                    <div class="thiInnerWrapper">
                                                        <span>
                                                            Наименование факультета
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="thi">
                                                <div class="thiWrapper">
                                                    <div class="thiInnerWrapper">
                                                        Создан
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="thi">
                                                <div class="thiWrapper">
                                                    <div class="thiInnerWrapper">
                                                        Последние обновление
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tC">
                                    <div class="tCWrapper">
                                        <div class="tCInnerWrapper">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div>
    <ul>
    @foreach (FacultyDTO item in Model)
    {
    <li>@item.Name</li>
    }
    </ul>
    </div> *@
