@font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans-Italic';
  src: url('../fonts/IBMPlexSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans-Light';
  src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.wrapper {
}
.innerWrapper {
}
.header {
}
.headerWrapper {
}
.headerInnerWrapper {
}
.content {
  display: flex;
  flex-direction: column;
}
.contentWapper {
}
.contentInnerWapper {
}

.table {

  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tableWrapper {
}
.tableInnerWrapper {
}
.tH {
  display: flex;
  flex-direction: column;
}
.tHWrapper {
}
.tHInnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  font-size: 20px;
  font-weight: 500;
  font-family: IBMPlexSans-Regular;
}

.tC {
}
.tCWrapper {
}
.tCInnerWrapper {
}
.thi
{

}
.thiWrapper{

}
.thiInnerWrapper{

}
